<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
    <h1>표현식</h1>
    <!--
        표현식의 종류
        1. 변수 표현식 ${}
        2. 선택 변수 표현식 *{}
        3. 메시지 표현식 #{}
        4. 링크 표현식 @{}
        5. 조각 표현식 ~{}
        6. 인라인 표현식 [[...]], [(...)]
    -->
    <h3>표현식 - 변수 표현식 ${...}</h3>
    <!--
        url 에 쿼리스트링 파라미터로 넘겨받는 값은
        param 이라는 용어에 저장이 되어있다.
        그리고 추가적으로 session 에 setAttribute 로 담아둔 값은
        session 이라는 용어에 저장이 되어 있다.
    -->
    <p th:text="${param.title}"></p>
    <!--
        no=5, no=6 키 값이 no 로 동일해요
        중복된 키값을 가지면 배열형태로 자동적으로 보관되요
    -->
    <p th:text="${param.no[0]}"></p>
    <p th:text="${param.no[1]}"></p>

    <h3>표현식 - 메세지 표현식 ${...}</h3>
    <!--
        resource 하위에 messages.properties 파일을 읽어드릴 수 있다.
        주의점은 위치와 이름이 다르면 인식할 수 없다.
    -->
    <p th:text="#{value}"></p>

    <h3>표현식 - 링크 표현식 @{...}</h3>
    <a th:href="@{/}">메인으로</a>

    <h3>표현식 - 선택 변수 표현식 *{...}</h3>
    <p th:text="${member.name}"></p>
    <!--
        위처럼 할 수 있지만, Object 를 선언하면 *{} 표현식으로
        객체 내부 필드에 직접 접근 할 수 있다.
    -->
    <p th:object="${member}" th:text="*{age}"></p>
    <!--
        div 태그 내에선 자식이므로 th:object = "${member}" 선언 없이도 사용할 수 있다.
        단점이 하나의 div 공간을 할당해야하는 단점이 있어요. 한명 회원에 대한 정보를 어느공간에 다가
        다 쓰고 싶어요 그럼 body 에 해야하지요 그런데 body 는 너무 커요
     -->
    <div th:object ="${member}">
        <p th:text="*{address}"></p>
        <p th:text="*{name}"></p>
        <p th:text="*{gender}"></p>
    </div>

    <!--
        <p th:text="${member.name}"></p>
        MemberDTO(name=조평훈, age=20, gender=남, address=경기도 수원시)
        toString 한 정보가 p 태그에 나타난다.
    -->
    <!--
        부모 html 태그를 사용하게 되면 어쩔 수 없이 화면 상에서
        영역을 차지하게 된다.
        단순 값을 공유하기 위한 공간임에도 불구하고
        화면상에서 공간을 차지하기 때문에 UI를 꾸미는데
        방해가 될 수 있다.
    -->
    <h3>th:block</h3>
    <!--
        th:block 은 가상의 공간이기 때문에 html 태그처럼
        공간을 할당하지 않는다.
        단순히 공유할 값을 사용할 공간이라고 생각하면 된다.

        위의 이유로 공유할 객체가 있다면 th:block 이라는 가상의 공간을 만들어 줄 수 있다.
        화면(공간)을 차지하지 않아요. 객체를 인식하기 위한 가상의 블럭
     -->
    <th:block th:object="${member}">
        <p th:text="age"></p>
    </th:block>
    <hr>
    <h3>HTML 출력 th:text, th:utext, th:value</h3>
    <pre>
        서버에서 넘기는 값을 html 태그에 표현할 때 th:text , th:utext
        를 사용할 수 있다.
        th:text 는 html 태그를 단순 문자열로 처리하지만,
        th:utext 는 html 태그를 태그자체로 인식을 해준다.
        th:value 는 태그의 value 값을 지정할 수 있다.
    </pre>
    <ul>
        <li th:text="${hello}"></li>
        <!--
            DB 에 태그가 포함된 문자열을 저장할 때 자주 사용
        -->
        <li th:utext="${hello}"></li>
        <li><input type="text" th:value="타임리프"></li>
        <!--
            th:value 는 기존의 값들이 로딩되어있어야할 회원정보수정할때 많이 쓰인다.
        -->
    </ul>

    <h3 th:inline="none">표현식 - 인라인 표현식 [[...]], [(...)]</h3>
    <p th:inline="none">
        변수 표현식의 값을 html 에 직접 사용하기 위해서 th:text 와 동일한 기능인
        [[...]] 을 사용할 수 있고, th:utext 와 동일한 기능인 [(...)] 을
        사용할 수 있다.
        th:inline="none" 으로 설정을 하게 되면, [[]]와 [()] 를 단순
        문자열 취급 처리를 할 수 있게 된다.
    </p>
    <ul>
        <li>[[${hello}]]</li>
        <li>[(${hello})]</li>
        <li th:inline="none">[[${hello}]]</li>
        <li th:inline="none">[(${hello})]</li>
    </ul>
    <script>
        window.onload = function(){
            const hi = `[[${hello}]]`;
            alert(hi);
        }
    </script>
    <h3> 리터럴 치환 || </h3>
    <p>'+' 기호를 사용하지 않고 문자열 합치는 || </p>
    <th:block th:object="${member}">
            <p th:text="|이름 = *{name}|"></p>
            <p th:text="|나이 = *{age}|"></p>
            <p th:text="|성별 = *{gender}|"></p>
            <p th:text="|주소 = *{addrss}|e"></p>
    </th:block>
    <!--
            <p th:text="이름 = *{name}"></p>
            <p th:text="나이 = *{age}"></p>
            <p th:text="성별 = *{gender}"></p>
            <p th:text="주소 = *{address}"></p>
            이렇게 하면 에러가 뜸
    -->

</body>
</html>