<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h1>Exception Handler</h1>
    <hr>
    <h3>@ExceptionHandler 어노테이션 사용</h3>
    <button onclick="location.href='nullpointer'">NullPointer 발생 시 예외처리</button>
    <button onclick="location.href='userexception'">사용자 정의의 Exception 클래스</button>
    <hr>
    <h3>@ControllerAdvice 어노테이션 사용으로 전역으로 예외처리</h3>
    <button onclick="location.href='global-nullpointer'">전역 NullPointer 예외처리</button>
    <button onclick="location.href='global-userexception'">전역 사용자 정의 예외처리</button>
    <button onclick="location.href='global-default'">Default 예외처리</button>

</body>
</html>